certifi==2018.8.24
click==6.7
Flask==1.0.2
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.0
pandas==0.22.0
python-dateutil==2.7.3
pytz==2018.5
six==1.11.0
Werkzeug==0.14.1
git+https://github.com/underchemist/twitch-chat-spam-counter.git
