<!DOCTYPE html>
<html>
<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- bootstrap stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <!-- custom stylesheets -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">

    <title>twitch chat statistics</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="/">Twitch Chat Statistics</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsLinks" aria-controls="navbarsLinks" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsLinks">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('get_transcripts') }}">Get transcripts </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('help') }}">Help </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- content -->
    <main role="main" class="container">
      {% block content %}{% endblock %}
      <hr>

      <!-- footer -->
      <footer>
        <p>
            © Yann-Sebastien Tremblay-Johnston 2017
            <a class="btn btn-social btn-github" href="#" target='_blank'>
                <span class="fa fa-github"></span> View on github
            </a>
        </p>
        <p class='small'>
            Twitch Chat Statistics is not affiliated in any way with <a href='https://twitch.tv' target='_blank'>twitch.tv</a>.
        </p>

      </footer>
    </main>
</body>
    <!-- scripts. at end of document to load page faster?-->
    <script src="https://use.fontawesome.com/c4b32075ae.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</html>