{% extends "base.html" %}
{% block content %}
<div class='jumbotron'>
    <h1>Find the most common spam in chat</h1>
    <p class="lead">Upload a plaintext log of a twitch chat vod. See <a href="{{ url_for('help') }}"> Help </a> for supported formats.</p>
    <form action= "{{ url_for('index') }}" method=post enctype=multipart/form-data>
          <p><input type=file name=file>
             <input type=submit value=Upload>
          </p>
        </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger alert-dismissable">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for message in messages %}
                  <p>{{ message }}</p>
                {% endfor %}

            </div>
        {% endif %}
    {% endwith %}
</div>
{% endblock %} <wbr>